html, body {
    width: 100%;
    font-family: csans;
    background-color: black;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

h1 {
    font-size: 2rem;
    text-align: center;
    font-family: csans;
}

img {
    width: 64px;
    height: 64px;
}

button {
    background-color: rgba(192, 192, 192, 0.5);
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: csans;
    color: white;
    align-items: center;
    justify-content: center;

}

button:hover {
    background-color: rgba(192, 192, 192, 1);
}

@font-face {
    font-family: csans;
    src: url('../assets/fonts/comicsans.ttf');
}

.container {
    text-align: center;
}
    
p {
    font-size: 1.5rem;
    max-width: 600px;
    align-items: center;
}

p a {
    color: white;
    text-decoration: none;
}

.nav {
    font-size: 1.25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 16px 20px;
    position: fixed;
    top: 0;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.nav a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.navicon {
    z-index: 10;
    top: 8px;
    left: 20px;
    position: fixed;
    color: white;
    font-weight: bold;
}

.navicon a {
    text-decoration: none;
    color: white;
}

.navicon a:hover {
    font-weight: normal;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.projects {
    font-size: 1.25rem;
}

.projects a {
    text-decoration: none;
    color: white;
}

.projects a:hover {
    font-weight: bold;
}